<div *ngIf="validUser">
  <p style="color:red;">Rellena los datos</p>
</div>

<form [formGroup]="addUser" (ngSubmit)="userAdd()" style="display:grid; width:30%; margin: 10px;">
  <label for="name">Name</label>
  <input type="text" name="name" formControlName="name">
  <div *ngIf="name">
    <p style="color:red;">Error en nombre</p>
  </div>

  <label for="grade">Grade</label>
  <input type="number" name="grade" formControlName="grade">
  <div *ngIf="grade">
    <p style="color:red;">Error en grado</p>
  </div>

  <button type="submit"> Ingresar Usuario </button>
</form>

<div *ngIf="added">
  <p style="color:green;">Added Succesfull! Regresando en: {{remainingSeconds}}</p>
</div>
