<div *ngIf="data">
  <p class="noData">No data</p>
</div>

<table class="container table table-hover">
  <thead>
    <tr style="border-bottom: 2px solid black; ">
      <th scope="col" style="border-right: 2px solid black;">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Grade</th>
    </tr>
  </thead>
  <tbody *ngFor="let user of users">
    <tr>
      <th scope="row" style="border-right: 2px solid black;">{{user.ID}}</th>
      <td>{{user.name}}</td>
      <td>{{user.grade}}</td>
    </tr>
  </tbody>
</table>
