.table{
  text-align: center;
  margin-top: 100px;
}

.container{
  width: 40%;
}

th{
  width: 80px !important;
}

td{
  width: 100px !important;
}

.noData{
  font-size: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  text-align: center;
  width: 100%;
  height: 80vh;
  margin: auto auto auto auto;
}
