<div *ngIf="data; else elseBlock">
  <p class="noData" style="color: red;">No data</p>
</div>

<ng-template #elseBlock>
  <div class="edit">
    <section class="box">
      <div *ngFor="let user of users;">
        <div style="display: flex;" class="obj">
          <div class="name" style="display:flex; align-items: center;">{{user.name}}</div>
          <button type="button" (click)="guardarDato(user);"  >
            <mat-icon fontIcon="edit"> </mat-icon>
          </button>
        </div>
      </div>
    </section>

    <section class="get-up">
      <app-get-up id="up" [user]="userID" style="visibility: hidden;"></app-get-up>
    </section>
  </div>
</ng-template>
