<br>
<hr>
<br>
<div>
  <div *ngIf="data; else elseBlock">
    <p style="color: red;">No data</p>
  </div>

  <ng-template #elseBlock>
    <section>
      <div *ngFor="let user of users;">
        <div id="users">
          <div>{{user.name}}</div>
          <button (click)="guardarDato(user);">
            <mat-icon fontIcon="edit"> </mat-icon>
          </button>
        </div>
      </div>
    </section>
    <br>
    <hr>
    <section>
      <app-get-up id="up" [user]="userID" style="visibility: hidden;"></app-get-up>
    </section>
  </ng-template>
</div>
