<div id="box">

  <div *ngIf="data; else elseBlock">
    <p class="noData">No data</p>
  </div>

  <ng-template #elseBlock>
    <form [formGroup]="delUsr" (ngSubmit)="delUser()">
      <select name="" id="" class="form-select" formControlName="user">
        <option value="" disabled> Choose an id </option>
        <option *ngFor="let user of users" [ngValue]="user">
          {{user.ID}}
        </option>
      </select>
      <br>
      <br>
      <button type="submit" class="btn btn-danger"> Eliminar </button>
    </form>
  </ng-template>

</div>
